.mediaViewInfo {
  --web-view-name: iPhone X/XS/11 Pro – 2;
  --web-view-id: iWant;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
:root {
  --web-view-ids: iWant;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
#iWant {
  position: absolute;
  width: 375px;
  height: 812px;
  background: linear-gradient(165.4deg, rgba(32,15,70,1) 0%, rgba(51,68,131,1) 100%);
  overflow: hidden;
  --web-view-name: iPhone X/XS/11 Pro – 2;
  --web-view-id: iWant;
  --web-scale-on-resize: true;
  --web-enable-deep-linking: true;
}
#Group_88 {
  position: absolute;
  width: 235px;
  height: 34px;
  left: 70px;
  top: 367px;
  overflow: visible;
}
#Group_87 {
  position: absolute;
  width: 235px;
  height: 34px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_1641 {
  fill: rgba(91,191,227,0.204);
}
.Rectangle_1641 {
  position: absolute;
  overflow: visible;
  width: 235px;
  height: 34px;
  left: 0px;
  top: 0px;
}
#Rectangle_1642 {
  fill: transparent;
  stroke: rgba(91,191,227,1);
  stroke-width: 3px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1642 {
  position: absolute;
  overflow: visible;
  width: 235px;
  height: 34px;
  left: 0px;
  top: 0px;
}
#Enter_Your_Name {
  left: 15px;
  top: 10px;
  position: absolute;
  overflow: visible;
  width: 130px;
  white-space: nowrap;
  line-height: 120px;
  margin-top: -51.5px;
  text-align: left;
  font-family: Quantico;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(196,201,255,0.502);
}
#Path_1174_bw {
  fill: url(#Path_1174_bw);
}
.Path_1174_bw {
  overflow: visible;
  position: absolute;
  width: 148.812px;
  height: 127.685px;
  left: 113px;
  top: 120px;
  transform: matrix(1,0,0,1,0,0);
}
#By_playing_you_have_read_and_a {
  left: 74px;
  top: 620px;
  position: absolute;
  overflow: visible;
  width: 229px;
  height: 64px;
  line-height: 20px;
  margin-top: -3.5px;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  color: rgba(196,201,255,0.502);
}
#I_want_to {
  left: 156px;
  top: 437px;
  position: absolute;
  overflow: visible;
  width: 65px;
  white-space: nowrap;
  line-height: 120px;
  margin-top: -51.5px;
  text-align: left;
  font-family: Quantico;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(196,201,255,1);
}
#Group_209 {
  position: absolute;
  width: 289px;
  height: 75px;
  left: 45px;
  top: 490px;
  overflow: visible;
}
#Group_208 {
  position: absolute;
  width: 133px;
  height: 75px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
#Rectangle_1640 {
  fill: transparent;
  stroke: rgba(91,191,227,1);
  stroke-width: 8px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1640 {
  position: absolute;
  overflow: visible;
  width: 133px;
  height: 75px;
  left: 0px;
  top: 0px;
}
#HOST {
  left: 45px;
  top: 30px;
  position: absolute;
  overflow: visible;
  width: 45px;
  white-space: nowrap;
  line-height: 17px;
  margin-top: -0.5px;
  text-align: center;
  font-family: Quantico;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(196,201,255,1);
}
#Group_207 {
  position: absolute;
  width: 133px;
  height: 75px;
  left: 156px;
  top: 0px;
  overflow: visible;
}
#Rectangle_1640_b {
  fill: transparent;
  stroke: rgba(91,191,227,1);
  stroke-width: 8px;
  stroke-linejoin: miter;
  stroke-linecap: butt;
  stroke-miterlimit: 4;
  shape-rendering: auto;
}
.Rectangle_1640_b {
  position: absolute;
  overflow: visible;
  width: 133px;
  height: 75px;
  left: 0px;
  top: 0px;
}
#PLAY {
  left: 46px;
  top: 29px;
  position: absolute;
  overflow: visible;
  width: 43px;
  white-space: nowrap;
  text-align: center;
  font-family: Quantico;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  color: rgba(196,201,255,1);
}
