.mediaViewInfo {
    --web-view-name: Web 1920 – 11;
    --web-view-id: Web_1920__11;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920__11;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1920__11 {
    position: absolute;
    width: 1920px;
    height: 1429px;
    background: linear-gradient(
        131.8deg,
        rgba(36, 19, 42, 1) 0%,
        rgba(50, 36, 106, 1) 62.72%,
        rgba(56, 76, 152, 1) 100%
    );
    overflow: hidden;
    --web-view-name: Web 1920 – 11;
    --web-view-id: Web_1920__11;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Rectangle_13 {
    fill: rgba(21, 15, 48, 1);
}
.Rectangle_13 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 350px;
    left: 0px;
    top: 1079px;
}
#FOOTER {
    left: 200px;
    top: 1254px;
    position: absolute;
    overflow: visible;
    width: 586px;
    height: 66px;
    line-height: 120px;
    margin-top: -35px;
    text-align: left;
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(196, 201, 255, 1);
}
#Path_2_bu {
    fill: url(#Path_2_bu);
}
.Path_2_bu {
    overflow: visible;
    position: absolute;
    width: 52.788px;
    height: 45.293px;
    left: 1824.188px;
    top: 36.031px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
#You_just_completed_your_profil {
    left: 200px;
    top: 392px;
    position: absolute;
    overflow: visible;
    width: 1246px;
    height: 280px;
    text-align: left;
    font-family: Quantico;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(196, 201, 255, 1);
}
#Hey {
    left: 200px;
    top: 150px;
    position: absolute;
    overflow: hidden;
    width: 703px;
    height: 92px;
    line-height: 120px;
    margin-top: -10px;
    text-align: left;
    font-family: Press Start 2p;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    color: rgba(91, 191, 227, 1);
}
#Group_172 {
    position: absolute;
    width: 260px;
    height: 97px;
    left: 603px;
    top: 852px;
    overflow: visible;
}
#Group_84 {
    position: absolute;
    width: 260px;
    height: 97px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_440 {
    fill: transparent;
    stroke: rgba(91, 191, 227, 1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_440 {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 97px;
    left: 0px;
    top: 0px;
}
#YES {
    left: 85px;
    top: 13px;
    position: absolute;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    text-align: center;
    font-family: Quantico;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(196, 201, 255, 1);
}
#Group_173 {
    position: absolute;
    width: 260px;
    height: 97px;
    left: 1058px;
    top: 852px;
    overflow: visible;
}
#Group_84_b {
    position: absolute;
    width: 260px;
    height: 97px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_440_b {
    fill: transparent;
    stroke: rgba(91, 191, 227, 1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_440_b {
    position: absolute;
    overflow: visible;
    width: 260px;
    height: 97px;
    left: 0px;
    top: 0px;
}
#NO {
    left: 1152px;
    top: 865px;
    position: absolute;
    overflow: visible;
    width: 73px;
    white-space: nowrap;
    text-align: center;
    font-family: Quantico;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(196, 201, 255, 1);
}
